
    .navbar-nav .dropdown-menu {
    	position: static;
    	float: none;
    	width: 25%;
        padding: 0;
        margin-left: 3%;
    }

    .navbar .nav-link {
        padding: 1rem 1rem;
        padding-left: 1.3rem;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: 1.3rem;
    }

    .navbar-nav {
    	display: block;
    }

    .navbar-expand-md .navbar-nav .dropdown-menu {
    	position: static;
    }

    .navbar {
    	position: absolute;
    	display: block;
    	padding: 0;
    	width: max-content;
    	height: 100%;
    	position: fixed;
    }

    .navbar a {
    	color: black;
    	border-bottom: 1px solid #bbc7d4;
    }

    .navbar a:hover {
    	color: green;
    	background-color: #3858581f;
    }

    .navbar .last-drop {
        border-bottom: none;
    }

    #topbar {
    	background-color: #d0b7b773;
    	height: 100px;
    }

    #formsspace {
    	background-color: #715a5a3b;
    	height: 500px;
    }

 