/*ES CSS*/

.main-container
{
    padding: 0;
}
/*title bar*/
.profile-tab1
{
	position: absolute;
	right: 30px;
}
@media screen and (max-width: 991px){

.navbar-nav .dropdown-menu
{
	position: absolute;
}

	}
/*---------Sticky social bar---------*/

.social-bar {
	position: fixed;
	top: 55%;
	transform: translateY(-50%);
	z-index: 1000;
	right: 0;
}

.social-bar a {
	display: block;
	text-align: center;
	padding: 10px;
	transition: all 0.3s ease;
	color: white;
	font-size: 24px;
	text-decoration: none;
}

.social-bar a:hover {
	background-color: #000;
	color: #fff;
}

.facebook {
	background: #3b5998;
	color: white;
}

.twitter {
	background: #55acee;
	color: white;
}

.linkedin {
	background: #0077b5;
	color: white;
}

.youtube {
	background: #dd4b39;
	color: white;
}


@media screen and (max-width: 767px){
	.social-bar a {
		font-size: 17px;
	}
}

@media screen and (max-width: 575px){
	.social-bar a {
		font-size: 14px;
	}
}